<section class="container-fluid">
<form  class="border d-flex justify-content-end bg-white border-1" (submit)="getuserdata()">
    <input type="text" id="search" class="border-1  " placeholder="search user" [(ngModel)]="search" name="serch">
    <button class="text-end" for="search"><i class="fa fas fa-search"></i></button>
</form>

  <div class="row justify-content-evenly p-2">
    <p class="col-6 fw-bold h1">User List</p>
    <div class="text-end col-6">
      <a  routerLink="/home/users/add" class="btn btn-warning text-white text-capitalize">
        add new user
      </a>
    </div>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="w-100">
      <thead>
        <tr>
          <th class="text-center">name</th>
          <th class="text-center">email</th>
          <th class="text-center">phone</th>
          <th>Enroll Number</th>
          <th>Date of Birday</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr class="rounded bg-white ">
          <td class="p-2">
            {{ fristusers?.firstName }} {{ fristusers?.lastName }}
          </td>
          <td class="p-2">{{ fristusers?.email }}</td>
          <td class="p-2">{{ fristusers?.phone }}</td>
          <td class="p-2">{{ fristusers?.ssn }}</td>
          <td class="p-2">{{ fristusers?.birthDate }}</td>
        
        </tr>
        <ng-container *ngIf="search!==''; else defaultUsers">
          <ng-container *ngIf="userssearch.length===0;">
            <p  class="text-center" > no users found</p>
          </ng-container>
          <tr
          class="rounded bg-white"
          *ngFor="
            let user of userssearch
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: pstart
                  }
          "
        >
          <td class="p-2">{{ user.firstName }} {{ user.lastName }}</td>
          <td class="p-2 email-cell">{{ user.email }}</td>
          <td class="p-2">{{ user.phone }}</td>
          <td class="p-2">{{ user.ssn }}</td>
          <td class="p-2">{{ user.birthDate }}</td>
          <td>
            <a   [routerLink]="['edit',user.id]" class="text-warning">
              <i class="fa fas fas fa-pen fs-5"></i>
            </a>
          </td>
          <td>
            <button  (click)="DELETEuser(user.id)"  class="text-warning mx-3 border-0 bg-white">
              <i class="fa fas fa-trash fs-5"></i>
            </button>
          </td>
        </tr>
        </ng-container>
        <ng-template #defaultUsers>
          <tr
          class="rounded bg-white"
          *ngFor="
            let user of users
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: pstart
                  }
          "
        >
          <td class="p-2">{{ user.firstName }} {{ user.lastName }}</td>
          <td class="p-2 email-cell">{{ user.email }}</td>
          <td class="p-2">{{ user.phone }}</td>
          <td class="p-2">{{ user.ssn }}</td>
          <td class="p-2">{{ user.birthDate }}</td>
          <td>
            <a   [routerLink]="['edit',user.id]" class="text-warning">
              <i class="fa fas fas fa-pen fs-5"></i>
            </a>
          </td>
          <td>
            <button  (click)="DELETEuser(user.id)"  class="text-warning mx-3 border-0 bg-white">
              <i class="fa fas fa-trash fs-5"></i>
            </button>
          </td>
        </tr> 
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="text-center">
  <pagination-controls (pageChange)="pstart = $event"></pagination-controls>
  </div>
</section>

