section {
  background-color: #e5e5e5;
}
.email-cell {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
table {
  border-spacing: 0 1rem;
  border-collapse: separate;
}
