<section class="container-fluid">
    <div>
        <h2 class="fw-bold">profile</h2>
        <hr>
    </div>
    <form action="#" class="  vh-100 d-flex align-items-center justify-content-center  ">
        <div class="row bg-white p-2 shadow rounded mx-auto  w-75">
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
            <div class="col-md-6 my-3"> <label for="">first name</label> <input class="w-100" type="text"></div>
        </div>
    </form>
</section>