section{
    background:linear-gradient(#FEAF00,#F8D442);
}

 h1{border-color: #F8D442!important;}section{
    background:linear-gradient(#FEAF00,#F8D442);
}

 h1{border-color: #F8D442!important;}