<nav class="container-fluid  p-3">
    <div class="d-flex justify-content-lg-between justify-content-center">
        <a routerLink="/home/users"  class="border-0 d-none d-lg-block text-dark">
            <i class="fa fas fas fa-arrow-circle-left fs-5"></i>
        </a>
<div>
    <form  class="border d-flex justify-content-center" (submit)="data()">
        <input type="text" id="search" class="border-0 p-2 " placeholder="search user" [(ngModel)]="search" name="serch">
        <button class="text-end" for="search"><i class="fa fas fa-search mx-3 mt-3"></i></button>
    </form>
</div>
    </div>
</nav>
