.active-li,ul li:hover a{
    background-color: #F8D442 ;
}
.navbg{background-color: #F2EAE1!important;}
ul{list-style: none;}
li a{text-decoration: none;
color: black;}

@media (max-width:770px) {
    nav{height: fit-content!important;
    margin-bottom: 2rem;}
}