<nav class="container-fluid h-100  p-3">
<p class="h4 border-warning  border-start fw-bold p-1 border-3 "> UMS</p>
<div class="my-md-4  d-flex flex-column  align-items-center">
  <div class="rounded-circle   overflow-hidden " style="width: 10rem;height: 10rem;">
    <img src="../../../assets/images/profile-img.png" alt="no img" class="w-100 h-100 object-fit-cover">
  </div>
  <div >
    <p class="fs-4 fw-bold p-1">Karthi Madesh</p>
    <p class="text-warning text-center ">Admin</p>
  </div>
  <div >
    <ul>
      <li class="fs-6 my-4  " ><a routerLink="#"><i class="fa fas fa-home  mx-3"></i>Home </a></li>
      <li  class="fs-6 my-4 " ><a routerLink="#"><i class="fa fas far fa-bookmark mx-3"></i>Users</a></li>
      <li  class="fs-6 my-4 "><a routerLink="#"><i class="fa fas fas fa-plus mx-3"></i>Add User</a></li>
      <li  class="fs-6 my-4 "><a routerLink="#"><i class="fa fas fa-user mx-3"></i>Profile </a></li>
    </ul>
    <div class="text-center">
      <button class="border-0 fs-6"><i class="fa fas fa-sign-out-alt fs-6"> log out </i></button>
    </div>
  </div>
</div>
</nav>