<!-- 
tablefullwitdh
d-lg-block
d-none
-->
<nav
  class="container-fluid h-100 navbg p-3 position-relative d-lg-block d-none"
>
  <p class="h3 border-warning border-start fw-bold border-3 mb-5 p-1">UMS</p>
  <div
    class="d-flex justify-content-between align-items-center flex-column h-75"
  >
    <div>
      <div
        class="rounded-circle overflow-hidden"
        style="width: 10rem; height: 10rem"
      >
        <img
          src="../../../assets/images/profile-img.png"
          [alt]="fullname"
          class="w-100 h-100 object-fit-cover"
        />
      </div>
      <div class="text-center p-1">
        <p class="fs-4 fw-bold">{{ fullname }}</p>
        <p class="text-warning">Admin</p>
      </div>
    </div>
    <div>
      <ul class="p-2">
        <li class="fs-6 my-4 ">
          <a routerLink="/home" class="p-2 " [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li" ><i class="fa fas fa-home mx-3"></i>Home </a>
        </li>
        <li class="fs-6 my-4 ">
          <a routerLink="/home/users" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas far fa-bookmark mx-3"></i>Users</a>
        </li>
        <li class="fs-6 my-4 p-1">
          <a routerLink="/home/users/add" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas fas fa-plus mx-3"></i>Add User</a>
        </li>
        <li class="fs-6 my-4 p-1">
          <a routerLink="/home/profile" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas fa-user mx-3"></i>Profile </a>
        </li>
      </ul>
    </div>
    <div class="my-2">
      <button (click)="logoutsure = !logoutsure" [ngClass]="{'bg-danger':logoutsure}" class="fs-6 border-0 p-2">
        LOG OUT<i class="fas fa-sign-out-alt mx-3"></i>
      </button>
    </div>
    <div class="my-3" *ngIf="logoutsure == true">
      <p>are you sure you want to log out ?</p>
      <button (click)="logout()" class="btn btn-danger mx-3 text-dark">log out</button>
      <button (click)="logoutsure = false" class="btn btn-warning">stay</button>
    </div>
  </div>
</nav>
<!-- nav for smal screens -->
<button
  class="btn btn d-lg-none"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#sidebar"
  aria-controls="sidebar"
>
<i class="fa-solid fa-bars fs-1 bg-warning p-2 rounded-4"></i>
  <!-- <p class="h4 border-warning border-start fw-bold p-1 border-3">UMS</p> -->
</button>
<div
  class="offcanvas offcanvas-start navbg text-dark w-75"
  tabindex="-1"
  id="sidebar"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">UMS</h5>
    <button
      type="button"
      class="btn-close btn-close-dark"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="text-center">
      <div
        class="rounded-circle overflow-hidden mx-auto"
        style="width: 10rem; height: 10rem"
      >
        <img
          src="../../../assets/images/profile-img.png"
          alt="no img"
          class="w-100 h-100 object-fit-cover"
        />
      </div>
      <p class="fs-4 fw-bold p-1">{{ fullname }}</p>
      <p class="text-warning">Admin</p>
    </div>
    <ul class="p-2">
      <li class="fs-6 my-4 ">
        <a routerLink="/home" class="p-2 " [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li" ><i class="fa fas fa-home mx-3"></i>Home </a>
      </li>
      <li class="fs-6 my-4 ">
        <a routerLink="/home/users" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas far fa-bookmark mx-3"></i>Users</a>
      </li>
      <li class="fs-6 my-4 p-1">
        <a routerLink="/home/users/add" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas fas fa-plus mx-3"></i>Add User</a>
      </li>
      <li class="fs-6 my-4 p-1">
        <a routerLink="/home/profile" class="p-2" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-li"><i class="fa fas fa-user mx-3"></i>Profile </a>
      </li>
    </ul>
    <div class="text-center">
      <button (click)="logoutsure = !logoutsure" [ngClass]="{'bg-danger':logoutsure}" class="fs-6 border-0 p-2">
        LOG OUT<i class="fas fa-sign-out-alt mx-3"></i>
      </button>
    </div>
    <ng-container *ngIf="logoutsure == true">
      <div class="text-center text-dark">
        <p>Are you sure you want to log out?</p>
        <button (click)="logout()" class="btn btn-danger mx-3">Log out</button>
        <button (click)="logoutsure = false" class="btn btn-warning">
          Stay
        </button>
      </div>
    </ng-container>
  </div>
</div>
