    <!--   فاضل هنا -->
    
    <section class="container">
    <p class="fw-bold h1">{{userid?"Edit User":" Add User"}}</p>
    <hr />
    <div class=" p-2 ">
        <div class="row">
        <div class="col-md-6 mx-auto bg-white w-75">
            <form action="#" [formGroup]="userform" (ngSubmit)="sendData(userform)">
            <div class="row  p-3 mx-auto">
                <div class="col-md-6">
                <label for="fname">frist name</label>
                <div class="input-group mb-3">
                    <input 
                    [class]="userform.status=='INVALID' ?'border-danger':'border-success'"
                    id="fname"
                    formControlName="firstName"
                    type="text"
                    class="form-control "
                    placeholder="Enter your First Name"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6">
                <label for="lname">last name</label>
                <div class="input-group mb-3">
                    <input 
                    [class]="userform.get('lastName')?.status=='INVALID'?' border-danger':'border-success'"
                    type="text"
                    formControlName="lastName"
                    id="lname"
                    class="form-control"
                    placeholder="Enter your Last Name"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6">
                <label for="email">email</label>
                <div class="input-group mb-3">
                    <input 
                    [class]="userform.get('email')?.status=='INVALID'?' border-danger':'border-success'"
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Enter your Email"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6">
                <label for="age">Age</label>
                <div class="input-group mb-3">

                    <input 
                    [class]="userform.get('age')?.status=='INVALID'?' border-danger':'border-success'"
                    type="number"
                    id="age"
                    formControlName="age"
                    class="form-control"
                    placeholder="Enter your  age"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6">
                <label for="phone number">phone number</label>
                <div class="input-group mb-3">
                    <input 
                    [class]="userform.get('phone')?.status=='INVALID'?' border-danger':'border-success'"
                    type="text"
                    id="phone number"
                    formControlName="phone"
                    class="form-control"
                    placeholder="Enter your Phone Number"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6">
                <label for="birthDate">birthDate</label>
                <div class="input-group mb-3">
                    <input 
                    [class]="userform.get('birthDate')?.status=='INVALID'?' border-danger':'border-success'"
                    type="text"
                    class="form-control"
                    formControlName="birthDate"
                    id="birthDate "
                    placeholder="Enter Your birthDate"
                    aria-label="Enter your birth Date"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <div class="col-md-6" *ngIf="!userid">
                <label for="Username">username</label>
                <div class="input-group mb-3">
                    <input
                    [class]="userform.get('userName')?.status=='INVALID'?' border-danger':'border-success'" 
                    type="text"
                    class="form-control"
                    id="Username "
                    formControlName="userName"
                    placeholder="Enter Your username"
                    aria-label="Enter your birth Date"
                    aria-describedby="basic-addon1"
                    />
                </div>
                </div>
                <!-- هشيلها لما اعمل ايديت -->
                <div class="col-md-6" *ngIf="!userid">
                <label for="gender">gender</label>
                <div class="input-group mb-3">
                    <select
                    [class]="userform.get('gender')?.status=='INVALID'?' text-danger':'text-success'" 
                    name="gender"
                    id="gender"
                    class="p-2 border-0 w-100"
                    formControlName="gender"
                    >
                    <option value="none" name="gender" disabled selected>
                        select your gender
                    </option>
                    <option value="male" class="bg-white" name="gender">
                        male
                    </option>
                    <option value="female" class="bg-white" name="gender">
                        female
                    </option>
                    </select>
                </div>
                </div>
                <div class="col-md-12" >
                <div class="input-group mb-3 justify-content-center my-2">
                    <button class="btn btn-warning w-50 text-white p-2">
                    {{userid?'update':'Add'}} User
                    </button>
                </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </section>
